// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
	border-radius: 5px;
	background: rgba(184,184,184,0.2);
	padding: 20px;
}